@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap');
/* general matters */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Roboto';
}

nav {
    margin-top: 15px;
    height: 20%;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* nav section */

.nav__container {
    height: 100%;
    background-image: linear-gradient( 
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    ), url(animeview_background.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__figure {
    width: 500px;
}

.nav__image {
    width: 100%;
}


/* posts */

.utility__row {
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getlucky {
    color: white;
    padding: 12px;
    border-radius: 10px;
    transition: all 450ms ease;
    margin: 32px;
    cursor: pointer;
}

.button__get-lucky {
    background-color: #35156c;
}

.button__start-your-day {
    background-color: #3b1a02;
}

.button__get-lucky:hover {
    background-color: #5914d1;
}

.button__start-your-day:hover {
    background-color: #6F4E37;
}

.utility__get-lucky,
.utility__start-your-day {
    font-weight: 600;
}

.posts {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.posts__container {
    margin: 16px 0;
}

.body__no-quotes--figure {
    width: 80%;
}

.body__no-quotes--loading {
    width: 100%;
}

.posts__no-quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts__no-quotes--img {
    width: 100%;
}

.body__no-quotes--span {
    padding-top: 8px;
    text-align: center;
    font-weight: 600;
}

.post__container {
    width: 90%;
    text-align: left;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.char__show {
    padding-top: 16px;
    text-align: right;
}

.show__italics {
    font-style: italic;
}
